*{
    margin: 0;
    padding: 0;
    font-family: 'Otomanopee One', sans-serif;
 }
.header{
    min-height: 100vh;
    width:auto;
    background-image: linear-gradient(rgba(86, 225, 243, 0.651), rgba(86, 225, 243, 0.651)), url("https://images.pexels.com/photos/1853003/pexels-photo-1853003.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width:100px;
    height: 100px;
    
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style:none;
    display: inline-block;
    padding: 8px 12px;
    position:relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;

}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto; 
    transition:0.5s
}
.nav-links ul li:hover::after{
    width:100%;

}
.text-box{
    width:90%;
    color:white;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.text-box h1{
    font-size:64px;
    }.
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color:white;

}
.hero-btn{
    display: inline-block;
    text-decoration:none;
    color: white;
    border: 1px solid white;
    padding:12px 34px;
    font-size:13px;
    background:transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
border: 1px solid rgb(73, 73, 226);
background: rgb(73, 73, 226);
transition:0.5s;
}
nav .fa{
    display:none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size:20px;
        }
        .nav-links ul li{
            display: block;
            
        }
        .nav-links{
            position: fixed;
            background:rgb(100, 171, 238);
            height:100%;
            width: 200px;
            top:0;
            right:-200px;
            text-align: left;
            z-index:2;
            transition:1s;
        }
        nav .fa{
            display: block;
            color: white;
            margin: 10px;
            font-size:30px;
            cursor: pointer;

        }
        .nav-links ul{
            padding:25px;
        }
}
/*-----SERVICES------*/
.service{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:100px;
}
h1{
    font-size: 36px;
    font-weight:600px;
    
}
p{
    color: white;
    font-size: 14px;
    font-weight:300;
    line-height: 22px;
    padding: 10px;

}
.row{
    margin-top: 5%;
    display:flex;
    justify-content:space-between;

}
.service-col{
    flex-basis:31%;
    background:rgb(87, 166, 245);
    border-radius:10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;

}
h3{
    text-align: center;
    font-weight: 600;
    margin:10pc 0;
    color: white;
}
.service-col:hover{
    box-shadow:0 0 20px 0px rgb(35, 139, 236)
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*facilities*/
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;


}
.facilities-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    

}
.facilities-col img{
    width: 100%;
    display: block;
    

}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition:0.5s;

 }
 .layer:hover{
     background:rgb(87, 163, 235)
 }
 .layer h3{
     width: 100%;
     font-weight: 500;
     color: white;
     font-style: 25px;
     bottom:0;
     left:50%;
     transform: translateX(-50%);
     position: absolute;
     opacity: 0;
     transition: 0.5s;

 }
 .layer:hover h3{
     bottom: 5%;
     opacity: 1;
 }
 /*reviews*/
 .reviews{
     width:70%;
     margin:auto;
     padding-top: 100px;
     text-align:center;
 }
 .reviews-col{
     flex-basis: 44%;
     border-radius: 20px;
     margin-bottom:10%;
     text-align: left;
     background:rgb(87, 163, 235);
     padding: 20px 12px;
     cursor: pointer;
     display: flex;
    
}
.reviews-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius:50%
}
.reviews-col p{
    padding:10px;
}
.reviews-col h3{
    margin-top: 15px;
    text-align: left;
}
.reviews-col .fa{
    color:white;
}
/*Order*/
.pyo{
    margin:100px auto;
    width: 80%;
    background-image: linear-gradient(rgb(87, 163, 235), rgb(87, 163, 235)), url("https://images.pexels.com/photos/3740237/pexels-photo-3740237.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align:center;
    padding: 100px 0;

}
.pyo h1{
    color: white;
    margin-bottom: 40px;
    padding:0;

}
@media(max-width: 700px){
    .cta h1{
        font-size: 20px;
    }
}

.footer{
    width: 100%;
    text-align:center;
    padding: 30px 0;

}
.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
    
}
.footer p{
    color:black;
}

.icons .fa{
    color:rgb(87, 163, 235);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart{
    color:rgb(87, 163, 235)
}
/*wedding cake page*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgb(252, 174, 7,0.651), rgb(252, 174, 7,0.651)), url("https://images.pexels.com/photos/2478330/pexels-photo-2478330.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-position: center;
    background-size: cover;
    text-align:center;
    color: white;
}
.sub-header h1{
    margin-top:100px;

}
.WC{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;


}
.WC-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    

}
.WC-col img{
    width: 100%;
    display: block;
    

}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition:0.5s;

 }
 .layer:hover{
     background:rgba(86, 225, 243, 0.651);
 }
 .layer h3{
     width: 100%;
     font-weight: 500;
     color: white;
     font-size: 25px;
     bottom:0;
     left:50%;
     transform: translateX(-50%);
     position: absolute;
     opacity: 0;
     transition: 0.5s;

 }

 .layer:hover h3{
     bottom: 5%;
     opacity: 1;
 }

 .sub-header2{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgb(252, 174, 7,0.651), rgb(252, 174, 7,0.651)), url("https://images.pexels.com/photos/2062883/pexels-photo-2062883.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-position: center;
    background-size: cover;
    text-align:center;
    color: white;
}
.sub-header h1{
    margin-top:100px;

}
.BC{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;


}
.BC-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    

}
.BC-col img{
    width: 100%;
    display: block;
    

}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition:0.5s;

 }
 .layer:hover{
     background: rgba(86, 225, 243, 0.651);
 }
 .layer h3{
     width: 100%;
     font-weight: 500;
     color: white;
     font-style: 25px;
     bottom:0;
     left:50%;
     transform: translateX(-50%);
     position: absolute;
     opacity: 0;
     transition: 0.5s;

 }
 .layer:hover h3{
     bottom: 5%;
     opacity: 1;
 }
 .sub-header3{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgb(252, 174, 7,0.651), rgba(248, 172, 7,0.651)), url("https://images.pexels.com/photos/7175448/pexels-photo-7175448.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-position: center;
    background-size: cover;
    text-align:center;
    color: white;
}
.sub-header h1{
    margin-top:100px;

}
.BG{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;


}
.BG-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    

}
.BG-col img{
    width: 100%;
    display: block;
    

}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition:0.5s;

 }
 .layer:hover{
     background:rgba(86, 225, 243, 0.651);
 }
 .layer h3{
     width: 100%;
     font-weight: 500;
     color: white;
     font-style: 25px;
     bottom:0;
     left:50%;
     transform: translateX(-50%);
     position: absolute;
     opacity: 0;
     transition: 0.5s;

 }
 .layer:hover h3{
     bottom: 5%;
     opacity: 1;
 }

 /*----Order Page---*/
 .location{
     width: 80%;
     margin: auto;
     padding: 80px 0;

 }
 .location iframe{
     width:100%;
 }
.Odering{
    width: 80%;
    margin:auto;
}
.contact-col{
    flex-basis:48%;
    margin-bottom: 30px;

}
.contact-col p{
    color:rgb(0, 221, 250);
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom:40px;
}
.contact-col .fa{
    font-size: 28px;
    color:rgb(86, 225, 243);
    margin:10px;
    margin-right:30px;

}
.hero-btn{
    color: rgba(175, 5, 5, 0.651);
    border: 1px solid rgba(0, 215, 243, 0.651);

}
.order-col input, .order-col textarea{
    width:100%;
    padding:15px;
    margin-bottom:17px;
    outline:none;
    border: 1px solid rgba(0, 215, 243, 0.651);
    box-sizing:border-box;
}